@charset "utf-8";
/* 公共区 */
body {
	padding: 0px;
	margin: 0px;
	background-color: #090a1e;
	font-family: "microsoft yahei";
}

a {
	text-decoration: none;
}

a:hover {
	color: #333
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border-color: transparent;
}

i {
	font-style: normal;
}

p,h2,h3 {
	padding: 0;
	margin: 0;
}

h2,h3 {
	font-weight: 500;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

input,textarea,select {
	outline: none;
	resize: none;
	font-size: 1em;
	vertical-align: middle;
}

ul,li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
}

@font-face {
	font-family: "方正正中黑简体";
	src: url("方正正中黑简体.ttf");
}

@font-face {
	font-family: "方正兰亭黑简";
	src: url("FZLTHJW.ttf");
}

.filter_box,.dw_side span,.dh_nav a {
	font-family: "方正正中黑简体";
}

.dw_side span b,.jkdpjbox p,.jkdpjbox>div ul li a,#main_box,.son_ul li,.inp_c,.dhpcbox h4 i,#ple ul li a
	{
	font-family: "方正兰亭黑简";
}

@font-face {
	font-family: "方正正大黑简体";
	src: url("方正正大黑简体.ttf");
}

.nav li a,.menu_box a,.jkdpj h2,.gzpj h2,.b_con h2,.dh_con h2,.ctbcon li:first-child span,.dhbcon li:first-child span,.gzlist h2,.dsjkbox h2 i,.dsjkbox h3,.dspcjkmin h4,.gzpic p b,.dhbcon li b
	{
	font-family: "方正正大黑简体";
}

.content {
	width: 1346px;
	height: 740px;
	background-color: #090a1d;
}

.content iframe {
	width: 1346px;
}

.top {
	width: 1346px;
	display: inline-table;
	background: #f00;
	height: 65px;
	background: url("../../img/top_bg.gif") repeat-x;
	position: relative;
}

.top .logo {
	width: 260px;
	float: left;
}

.top .logo img {
	width: 150px;
	padding: 5px 0 0 40px;
}

.people {
	float: left;
	margin: 20px 0 0 5px;
}

#ple li {
	position: relative;
}

#ple li img {
	width: 25px;
}

#ple a:link,#ple a:visited {
	display: block
}

#ple ul {
	width: 160px;
	display: none;
	position: absolute;
	right: 0;
	top: 26px;
}

#ple ul li {
	background: url("../../img/1366/dsjk5.png") no-repeat 130px 2px;
	text-align: right;
	border: none;
	height: 10px;
}

/* #ple ul li a {
	color: #fff;
	width: 22px;
	line-height: 24px;
	text-align: center;
	font-weight: 600;
	padding: 5px 0 0 0;
} */

#ple ul li+li {
	padding: 5px 0 5px 0;
	float: none;
	border-radius: 10px;
	background: #fff;
	border: 2px #dadbde solid;
	text-align: left;
	display: inline-table;
}

#ple ul li+li a {
	border-bottom: 1px #e6e6e7 dashed;
	font-size: 1em;
	color: #4b4948;
	width: 160px;
	line-height: 35px;
	font-weight: 600;
	height: 35px;
	font-weight: 500;
}

#ple ul li+li a:last-child {
	border-bottom: none;
}

#ple ul li+li a:hover {
	background: #e6e6e7;
}

#ple ul li+li a i {
	width: 50px;
	height: 35px;
	background: url("../../img/1366/dsjk4.png") no-repeat 5px 4px;
	display: block;
	float: left;
}

#ple ul li+li a+a i {
	background-position: 7px -37px;
}

#ple ul li+li a+a+a i {
	background-position: 7px -77px;
}

#ple ul li+li a+a+a+a i {
	background-position: 7px -119px;
}

#ple li:hover ul {display: block;}

.hgun {
	width: 1382px;
	height: 10px;
	position: absolute;
	top: 87px;
	left: 438px;
	border: 1px #805b0e solid;
	display: none;
}

.hgun a img {
	padding-left: 40px;
}

/*导航*/
.menu_box {
	float: left;
	margin-top: 1px;
}

.nav_tab li {
	width: 120px;
	height: 30px;
	line-height: 20px;
	text-align: center;
	float: left;
	background: url("../../img/1366/nav_in.jpg") no-repeat;
}

.nav_tab li a {
	font-size: 0.75em;
	color: #fff;
}

.nav_tab li.nav_on {
	width: 180px;
	height: 50px;
	line-height: 25px;
	background: url("../../img/1366/nav_on.jpg") no-repeat;
}

.nav_ona a,.nav_onb a,.nav_on a {
	font-size: 1.1em !important;
}

.nav_tab li {
	padding-left: 0px;
}

.nav_tab li:nth-child(1) {
	width: 120px;
	background: url("../../img/1366/nav_ina.jpg") no-repeat;
	margin-left: 22px;
}

.nav_tab li:nth-child(8) {
	width: 120px;
	background: url("../../img/1366/nav_inb.jpg") no-repeat;
}

.nav_tab li:nth-child(1) a {
	padding-left: 17px;
}

.nav_tab li:nth-child(8) a {
	padding-right: 12px;
}

.nav_tab li.nav_on {
	width: 180px;
	height: 42px;
	line-height: 35px;
	background: url("../../img/1366/nav_on.jpg") no-repeat;
}

.nav_tab li:nth-child(1).nav_on {
	width: 180px;
	height: 42px;
	line-height: 32px;
	background: url("../../img/1366/nav_ona.jpg") no-repeat;
}

.nav_tab li:nth-child(1).nav_on a {
	padding-left: 15px;
}

.nav_tab li:nth-child(8).nav_on {
	width: 180px;
	height: 42px;
	line-height: 32px;
	background: url("../../img/1366/nav_onb.jpg") no-repeat;
}

.nav_tab li:nth-child(8).nav_on a {
	padding-right: 15px;
}

.zt_con {
	width: 1310px;
	height: 562px;
	background: url("../../img/1366/con_ztjk.png") no-repeat;
}

.qx_con {
	width: 1310px;
	height: 790px;
	background: url("../../img/1366/con_qxjk.png") no-repeat;
}

.ds_con {
	width: 1310px;
	height: 562px;
	background: url("../../img/1366/con_dsjk.png") no-repeat;
}

.ztgz_con {
	width: 1310px;
	height: 563px;
	background: url("../../img/1366/con_ztgz.png") no-repeat;
}

.dsgz_con {
	width: 1310px;
	height: 563px;
	background: url("../../img/1366/con_ztgz.png") no-repeat;
}

.qxgz_con {
	width: 1310px;
	height: 563px;
	background: url("../../img/1366/con_qxgz.png") no-repeat;
}

.dhpc_con {
	width: 1310px;
	height: 498px;
	background: url("../../img/1366/con_dhpc.png") no-repeat;
}

.dhpccx_con {
	width: 1310px;
	height: 634px;
	background: url("../../img/1366/con_dhpczh.png") no-repeat;
}

.main {
	width: 1336px;
	background: #090a1d;
	padding: 0 0 0 15px;
	overflow: hidden;
}

.filter_box {
	width: 1326px;
	height: 32px;
	background: url("../../img/1366/filter_box.gif") no-repeat 0 0;
	line-height: 35px;
}

.filter_box b {
	font-size: 1.2em;
	color: #fff;
	padding-left: 20px;
	float: left;
}

.main_box {
	width: 190px;
	float: left;
	/* background: #f5f4f4; */
	height: 25px;
	color: #00736d;
	float: left;
	margin: 2px 0 0 40px;
	line-height: 25px;
}

.main_box input {
	color: #00736d;
	box-sizing: border-box;
	border:0px solid #c8cccf;
	-web-kit-appearance:none;
	-moz-appearance: none;
	display:block;
	outline:0;
	text-decoration:none;
}

.select_box {
	width: 190px;
	height: 28px;
	padding-right: 5px;
	padding-left: 5px;
	background: #f5f4f4;
	/* background: url("../../img/107.gif") no-repeat 165px center; 
	position: relative; */
}

.select_box span {
	cursor: pointer;
	display: block;
	line-height: 28px;
	width: 100%;
	height: 28px;
	font-size: 16px;
	overflow: hidden;
}

.select_box ul li {
	cursor: pointer;
}

.son_ul {
	width: 100%;
	position: absolute;
	left: 0;
	top: 22px;
	background: #f5f4f4;
	z-index: 999;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.son_ul li {
	display: block;
	padding: 2px 0;
	font-size: 0.8em;
	padding-left: 15px;
	width: 170px;
	color: #00736d;
}

.hover {
	background: #ccc;
}

.se_btn {
	width: 40px;
	height: 26px;
	display: block;
	border: none;
	margin: 4px 0 0 35px;
	cursor: pointer;
	float: left;
	background: url("../../img/img_19.gif") no-repeat
}

.dw_side {
	margin: 20px 0 40px 0;
	color: #fff;
	overflow: hidden;
}

.dw_side li {
	float: left;
	padding-right: 48px;
}

.dw_side li span {
	font-size: 1.2em;
	display: block;
	line-height: 30px;
}

.dw_side li span b {
	font-size: 0.5em;
	font-weight: 500;
}

.dw_side li i {
	width: 20px;
	height: 27px;
	font-family: arial;
	line-height: 27px;
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
	display: block;
	float: left;
	background: url("../../img/1366/number.png") no-repeat;
	margin-right: 3px;
}

.dw_side li:last-child {
	padding-right: 0;
}

.ditu img {
	width: 450px;
	padding: 32px 0 0 15px;
}

.ditu {
	width: 490px;
	float: left;
}

.jkd {
	width: 310px;
	float: left;
}

.jkdbox {
	width: 310px;
	display: inline-table;
	padding: 23px 0 0 45px;
}

.jkdbox .pmli ul {
	width: 300px;
	height: 45px;
	overflow: hidden;
}

.jkdbox .pmli ul li {
	float: left;
	margin: 0 0 0 36px;
}

.jkdbox .pmli ul li a {
	font-size: 1.2em;
	line-height: 35px;
	font-weight: 800;
	color: #fff;
	background: url("../../img/ydlistb.png") no-repeat 0 5px;
	padding-left: 22px;
}

.jkdbox .pmli ul li.on a,.jkdbox .pmli ul li:hover a {
	background: url("../../img/ydlist.png") no-repeat 0 5px;
}

.jkdbox .pmli ul li.on a,.jkdbox .pmli ul li:hover a {
	color: #f6ab00;
}

.jkdbox .list_a {
	overflow: auto;
	display: none;
}

.jkdbox .list_a ul {
	width: 255px;
	height: 201px;
	overflow-y: auto;
	overflow-x: hidden;
}

.jkdbox h2 {
	width: 300px;
	overflow: hidden;
}

.jkdbox h2 i {
	width: 75px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	display: block;
	float: left;
	background: #d6691d;
	color: #fff;
	font-size: 0.7em;
	margin: 0 1px 2px 1px;
	border: 1px #a35420 solid
}

.jkdbox p i {
	width: 75px;
	text-align: center;
	float: left;
	line-height: 25px;
	height: 25px;
	margin: 0 1px 2px 1px;
	color: #fff;
	font-size: 1em;
	border: 1px #055a57 solid;
	background: #6dc9e2;
}

.jkdbox p i+i,.jkdbox h2 i+i {
	width: 75px;
}

.jkdbox p i+i+i,.jkdbox h2 i+i+i {
	width: 74px;
}

.jkdbox p:nth-child(1) i {
	background: #009c84;
}

.jkdbox p:nth-child(2) i {
	background: #009c84;
}

.jkdbox p:nth-child(3) i {
	background: #01a08e;
}

.jkdbox p:nth-child(4) i {
	background: #00a59f;
}

.jkdbox p:nth-child(5) i {
	background: #01a9aa;
}

.jkdbox p:nth-child(6) i {
	background: #01b4bb;
}

.jkdbox p:nth-child(7) i {
	background: #24b8c6;
}

.jkdbox p:nth-child(8) i {
	background: #42bdcd;
}

.jkdbox p:nth-child(9) i {
	background: #59c2d8;
}

.jkdbox p:nth-child(10) i {
	background: #6dc9e2;
}

.jkdbox p:nth-child(11) i {
	background: #6dc9e2;
}

.jkdbox h2 i+i+i {
	width: 75px;
}

.jkdpj {
	width: 480px;
	float: left;
	margin: 25px 0 0 25px;
	position: relative;
}

.jkdpj h2 {
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

.jkdpjbox {
	width: 420px;
	display: inline-table;
	padding: 20px 0 0 35px;
}

.jkdpjbox>div ul {
	width: 105px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0;
}

.jkdpjbox>div ul li {
	margin: 0;
}

.jkdpjbox>div ul li a {
	font-size: 1.2em;
	line-height: 30px;
	font-weight: 600;
	color: #fff;
	background: url("../../img/ydlistb.png") no-repeat 0 5px;
	padding-left: 22px;
}

.jkdpjbox>div ul li.on a,.jkdpjbox>div ul li:hover a {
	color: #f6ab00;
}

.jkdpjbox>ul {
	overflow: hidden;
	display: none;
}

.jkdpjbox>div ul li.on a,.jkdpjbox>div ul li:hover a {
	background: url("../../img/ydlist.png") no-repeat 0 5px;
}

.jkdpjbox li {
	display: block;
	overflow: hidden;
}

.jkdpjbox h3 {
	float: left;
	overflow: hidden;
	margin-right: 30px;
}

.jkdpjbox h3 img {
	width: 250px;
}

.jkdpjbox .pulist {
	padding: 16px 0 0 10px;
	overflow: hidden;
}

.dspcjkmin h3 img {
	width: 210px;
}

.dspcjkmin p {
	height: 18px !important;
}

.jkdpjbox p {
	width: 120px;
	float: left;
	font-size: 0.9em;
	color: #fff;
	height: 21px;
	overflow: hidden;
}

.jkdpjbox p i {
	width: 15px;
	height: 10px;
	border-radius: 2px;
	border: 1px #f6ab00 solid;
	background: #f6ab00;
	text-align: center;
	float: left;
	margin: 2px 5px 0 0;
}

.jkdpjbox p+p i {
	border: 1px #ed6d00 solid;
	background: #ed6d00;
}

.jkdpjbox p+p+p i {
	border: 1px #a9cf52 solid;
	background: #a9cf52;
}

.jkdpjbox p+p+p+p i {
	border: 1px #008974 solid;
	background: #008974;
}

.jkdpjbox p+p+p+p+p i {
	border: 1px #6c9bd2 solid;
	background: #6c9bd2;
}

.jkdpjbox p+p+p+p+p+p i {
	border: 1px #7fbe25 solid;
	background: #7fbe25;
}

.jkdpjbox p+p+p+p+p+p+p i {
	border: 1px #7f1085 solid;
	background: #7f1085;
}

.jkdpjbox p+p+p+p+p+p+p+p i {
	border: 1px #e60012 solid;
	background: #e60012;
}

.jkdpjbox p+p+p+p+p+p+p+p+p i {
	border: 1px #009c84 solid;
	background: #009c84;
}

.hs {
	border: 1px #e60012 solid !important;;
	background: #e60012 !important;
}

.ls {
	border: 1px #008974 solid !important;;
	background: #008974 !important;
}

.dsboxt .dsjkmin {
	width: 780px !important;
	padding: 20px 0 0 15px;
}

.dsjkmin {
	width: 780px;
}

.dsjkmin li {
	width: 300px;
	float: left;
}

.dsjkmin li+li {
	width: 450px;
	float: right;
}

.dsjkmin .dslibo {
	width: 300px;
	padding: 20px 0 0 20px;
}

.dsjkmin .dslibo p {
	width: 100px;
}

.dsboxt h2 {
	width: 780px;
}

.dsjkmin .dslibo p i {
	margin-right: 5px;
}

.dsjkmin h3 {
	margin-right: 10px
}

.dspcboxt .dspcjkmin {
	width: 600px !important;
	padding: 0 0 0 5px;
}

.dspcjkmin {
	width: 600px;
}

.dspcjkmin li {
	width: 370px;
	float: left;
	padding-top: 45px;
}

.dspcjkmin li+li {
	width: 170px;
	float: left;
	padding-top: 0;
}

.dspcboxt p {
	margin-bottom: 0;
}

.dspcjkmin .dspclibo {
	width: 470px;
	padding: 20px 0 0 10px;
}

.dspcjkmin .dspclibo p {
	width: 130px;
}

.dspcboxt {
	position: relative;
	float: none;
}

.dspcboxt h2 {
	width: 530px;
	position: absolute;
	left: 0;
	top: 0;
}

.dspcjkmin .dslibo p i {
	margin-right: 5px;
}

.dspcjkmin h3 {
	margin-right: 10px
}

.dspcjkmin h4 {
	font-size: 1.2em;
	color: #fff;
	font-weight: 500;
}

.dspcjkmin li+li h3 {
	height: 98px;
	float: inherit;
	margin-left: 5px;
}

.dspcjkmin li+li h4 {
	height: 40px;
	text-align: center;
}

.dspcjkmin li+li h5 {
	padding: 0;
}

.dspcjkmin li+li h3 {
	width: 150px;
	height: 55px;
	margin: 0 0 10px 5px;
	background: url("../../img/1366/dhpc03.png") no-repeat;
}

.dspcjkmin li+li h3 b {
	color: #f6ab00;
	font-size: 0.8em;
	line-height: 55px;
	width: 54px;
	text-align: center;
	display: block;
}

.dspcjkmin li+li h5 {
	width: 140px;
	height: 114px;
	display: inline-block;
	margin: 7px 0 0 22px;
	background: url("../../img/1366/dhpc02.png") no-repeat;
}

.dspcjkmin li+li h5 b {
	width: 70px;
	float: left;
	height: 40px;
	line-height: 30px;
	padding-bottom: 0;
	text-align: center;
	display: block;
	color: #f6ab00;
	font-size: 1.2em;
}

.dspcjkmin li+li h5 i {
	width: 45px;
	float: left;
	height: 30px;
	text-align: center;
	line-height: 10px;
	color: #fff;
	font-size: 0.8em;
	padding: 6px 0 0 0;
}

.gzpj {
	width: 750px;
	float: left;
	padding: 33px 0 0 52px;
	position: relative;
}

.gzpj h2 {
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 33px;
	left: 330px;
}

.gzpj p img {
	width: 740px;
}

.dsgztj {
	width: 760px;
	padding: 48px 0 0 5px;
	position: relative;
}

.dsgztj h2 {
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 45px;
	left: 0;
}

.pcgzt {
	width: 660px;
	float: none;
	padding: 40px 0 0 0;
}

.pcgzt h2 {
	left: 220px;
	top: 20px;
}

.pcgzt img {
	width: 620px !important;
}

.c_l {
	float: left;
}

.lstj {
	width: 810px;
	height: 210px;
	padding: 34px 0 0 15px !important;
}

.lstj h2 {
	top: 20px;
	left: 310px;
}

.lstj p>img {
	width: 810px;
}

.qxpj {
	width: 450px;
	margin: 36px 0 0 0;
}

.qxpj .pulist {
	padding: 70px 0 0 10px;
}

.qxpj li+li img {
	padding: 50px 0 0 20px;
}

.qxpj .jkdpjbox {
	width: 450px;
	padding: 20px 0 0 35px;
}

.qxpj .jkdpjbox h3 {
	margin-right: 10px;
}

.qxpj h2 {
	padding-left: 30px;
}

.e_left {
	width: 810px;
	padding-top: 270px;
}

.b_con p i {
	width: 70px;
	height: 25px;
	background-color: #00a3e4;
	display: inline-block;
	margin: 5px 10px 0 20px;
	vertical-align: sub;
}

.b_con h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.ctablelist,.ctbcon {
	width: 790px;
	height: 180px;
	margin: 0 10px 0 20px;
	overflow: auto;
}

.ctablelist li,.ctbcon {
	font-size: 1.3em;
	height: 32px;
	line-height: 35px;
	text-align: left;
	color: #fff;
}

.ctablelist li span+span,.ctbcon li span+span {
	width: 76px;
}

.ctablelist li span:last-child {
	width: 80px;
	border-right: 1px #00468e solid;
}

.ctbcon {
	margin-top: 10px;
	overflow: hidden;
}

.ctbcon li {
	height: 35px;
	background: #00706b;
	border-top: #00468e solid 1px;
}

.ctablelist li span,.ctbcon li span {
	width: 70px;
	text-align: center;
	float: left;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-left: 1px #00468e solid;
	border-bottom: 1px #00468e solid;
	font-size: 0.6em;
}

.ctbcon li span {
	font-size: 0.65em;
}

.ctbcon li span:last-child {
	border-right: none;
	width: 70px;
}

.b_con h2 b {
	width: 55px;
	height: 26px;
	display: inline-block;
	border-radius: 3px;
	background-color: #0071bd;
	border: 1px #0066b1 solid;
	float: right;
	margin-top: 3px;
}

.b_con h2 b a {
	font-size: 0.65em;
	color: #fff;
	font-weight: 500;
	font-family: arial;
}

.ntu {
	width: 769px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 5;
	margin: 0;
}

.ntbox {
	position: relative;
}

.nboxb {
	padding-top: 32px;
}

.dhpc_left {
	width: 1250px;
	padding: 30px 0 0 20px;
}

.dh_con p i {
	width: 7px;
	height: 25px;
	background-color: #00a3e4;
	display: inline-block;
	margin: 5px 10px 0 20px;
	vertical-align: sub;
}

.dh_con h2 {
	font-size: 1.5em;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.dhablelist,.dhbcon {
	margin: 0 10px 0 20px;
}

.dhablelist li {
	font-size: 1.3em;
	height: 44px;
	line-height: 44px;
	text-align: left;
	color: #fff;
}

.dhablelist li span+span+span,.dhbcon li span+span+span {
	width: 90px;
}

.dhablelist li span:last-child {
	border-right: 1px #00468e solid;
}

.dhbcon {
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}

.dhbcon {
	font-size: 1.2em;
	height: 60px;
	text-align: left;
	color: #fff;
}

.dhbcon li {
	height: 60px;
	background: #00706b;
	border-top: #00468e solid 1px;
	border-bottom: 1px #00468e solid;
}

.dhbcon li span+span+span+span+span {
	padding-top: 10px;
}

.dhbcon li span {
	padding-top: 25px;
}

.dhbcon li span+span+span+span+span+span+span+span+span+span+span {
	width: 90px;
	padding-top: 35px;
}

.dhbcon li b {
	width: 273px;
	height: 30px;
	line-height: 30px;
	background: #006f6b;
	display: block;
	position: absolute;
	border-bottom: 1px #00468e solid;
	top: 0px;
	right: 0;
	font-size: 0.8em;
	text-align: center;
}

.dhablelist li span+span {
	width: 108px;
}

.dhablelist li span+span+span+span+span+span+span+span+span+span+span {
	width: 90px;
}

.dhablelist li span,.dhbcon li span {
	width: 108px;
	text-align: center;
	float: left;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-left: 1px #00468e solid;
	border-bottom: 1px #00468e solid;
	font-size: 0.7em;
}

.dhbcon li span {
	font-size: 0.8em;
	height: 60px;
}

.dhbcon li span:last-child {
	border-right: 1px #00468e solid;
}

.dh_con h2 b {
	width: 50px;
	height: 22px;
	display: inline-block;
	border-radius: 3px;
	background-color: #0071bd;
	border: 1px #0066b1 solid;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}

.dh_con h2 b a {
	font-size: 0.65em;
	color: #fff;
	font-weight: 500;
	font-family: arial;
}

.pbtn {
	right: 0;
}

.pbtn a {
	width: 100px;
	height: 26px;
	line-height: 25px;
	display: block;
	float: right;
	font-size: 1.2em;
	border-radius: 3px;
	color: #00736d;
	background-color: #fff;
	border: 1px #fff solid;
	margin: 20px 10px 0 20px;
	padding-left: 10px;
}

.pbtn a {
	background: url("../../img/107.gif") no-repeat #fff 85px 3px
}

.pbtn a+a {
	background: url("../../img/108.png") no-repeat #fff 85px 3px
}

.inp_c {
	width: 100px;
	float: left;
	height: 23px;
	border: none;
	background: #f5f4f4;
	margin: 4px 0 0 40px;
	color: #00736d;
	font-size: 0.8em;
	padding: 0 15px 0 15px;
}

.gzlist {
	width: 300px;
	height: 172px;
	margin: 40px 0 0 16px;
	position: relative;
}

.gzlist li {
	width: 130px;
	float: left;
}

.gzlist li h2 {
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

.gzlist li img {
	width: 112px;
	padding: 24px 0 0 18px;
}

.gzlist li+li img {
	padding: 24px 0 0 7px;
}

.gzlist li+li {
	padding-left: 25px;
}

.gzpic li h2 {
	width: 270px;
}

.gzpic li img {
	padding: 26px 0 0 45px;
}

.gzpic p {
	width: 240px;
	height: 226px;
	margin: 17px 0 0 27px;
	background: url("../../img/1366/ztgz03.png") no-repeat;
}

.gzpic p b {
	width: 145px;
	float: left;
	height: 66px;
	line-height: 75px;
	padding-bottom: 13px;
	text-align: center;
	display: block;
	color: #f6ab00;
	font-size: 1.5em;
}
.gzpic p i {
	width: 84px;
	float: left;
	height: 66px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.qxcon_left {
	width: 950px;
	float: right;
	padding: 35px 10px 0 0;
}

.qxbox li span {
	font-size: 0.8em;
}

.qxbox li span+span{ width: 84px;}
.qxbox li span{width:112px;}
.qxin li span+span+span+span{ padding-top:0;}
.qxin li span+span+span+span+span{ padding-top:0;}
.dhbcon li span:nth-child(1) {
	width: 140px;
}

.dhbcon li span:nth-child(12),.dhbcon li span:nth-child(13),.dhbcon li span:nth-child(14)
	{
	width: 73px;
}
.dhablelist li span:nth-child(1) {
	width: 140px;
	clear: left;
}

.dhablelist li span:nth-child(12),.dhablelist li span:nth-child(13),.dhablelist li span:nth-child(14)
	{
	width: 73px;
}

.qxcon_left li span+span+span,.qxbox li span+span+span {
	width: 80px;
}

.qxbox li span+span+span+span+span+span+span+span+span+span {
	width: 45px;
}

.qxlist li {
	height: 20px;
	line-height: 20px;
}

.qxin li {
	height: 55px;
	line-height: 55px;
}

.qxin li span {
	padding-top: 0;
}

.qxin li span:nth-child(1) {
	width: 100px;
}

.qxin li span+span+span+span+span+span+span+span+span+span {
	width: 45px;
}

.qxin li span+span+span+span+span+span+span+span+span+span+span {
	width: 45px;
	padding-top: 0;
}

.qxlist li span:nth-child(1) {
	width: 100px;
}

.qxlist li span+span+span+span+span+span+span+span+span+span+span {
	width: 45px;
}

.qxlist {
	height: 324px;
	overflow: hidden;
}

.ztditu {
	float: left;
	padding: 38px 0 0 55px;
}

.ztditu img {
	width: 450px;
}

.ztycbox {
	position: relative;
}

.ztyccon_left {
	width: 400px;
	float: right;
	padding: 50px 10px 0 0;
}

.ztycbox li span {
	font-size: 1em;
}

.ztycbox li span+span {
	width: 95px;
}

.ztycbox li span {
	width: 122px !important;
}

.ztyccon_left li span+span+span,.ztycbox li span+span+span {
	width: 80px;
}

.ztycbox li span+span {
	width: 80px !important;
}

.ztyclist li {
	height: 40px;
	line-height: 40px;
}

.ztycin {
	width: 367px;
	height: 50px;
	margin: 0;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 5;
}

.ztycin li {
	height: 50px;
	line-height: 50px;
}

.ztycin li span {
	height: 50px;
	padding-top: 0;
}

.ztyclist {
	width: 388px;
	height: 369px;
	overflow: auto;
	margin: 0;
	padding-top: 48px;
}

.ztycbox h2 {
	margin-bottom: 20px;
}

.dsgzdt {
	float: left;
	padding: 8px 0 0 34px;
}

.map_cl {
	position: relative;
	height: 585px;
	width: 465px;
	margin-right: 20px;
}

.dsjkdt {
	position: absolute;
	z-index: 10;
}

.dsjkdt img {
	width: 420px;
}

.dsgzdt img {
	width: 483px;
}

.dsjkbox {
	width: 510px;
	position: absolute;
	bottom: 6px;
	z-index: 0;
}

.dsjkbox_dl {
	z-index: 99;
}

.dsjkbox dl {
	width: 235px;
	height: 360px;
	float: left;
	margin: 0;
	position: relative;
}

.dsjkbox dl+dl {
	margin: 0 0 0 5px;
}

.dsjkbox dl div  h2 {
	width: 216px;
	overflow: hidden;
	padding: 10px 0 0 10px;
}
.dsjkbox dd p {
	padding: 0 0 0 10px;
}

.dsjkbox dl div h2 i {
	width: 80px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	display: block;
	float: left;
	background: #d6691d;
	color: #fff;
	font-size: 0.8em;
	margin: 0 1px 2px 1px;
}

.dsjkbox dl div  h2 i+i+i {
	width: 40px;
}

.dsjkbox dd p i+i+i {
	width: 40px;
}

.dsjkbox dl div  h2 i+i {
	width: 60px;
}

.dsjkbox dd p i+i {
	width: 60px;
}

.dsjkbox dd {
	width: 216px;
	height: 240px;
			
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.dsjkbox dl div {
	width: 235px;
	height: 294px;
	background: url("../../img/1366/dsjk3.png") no-repeat;
	margin-left: 14px;
}

.dsjkbox dd p i {
	width: 80px;
	text-align: center;
	float: left;
	line-height: 28px;
	height: 28px;
	margin: 0 1px 2px 1px;
	color: #fff;
	font-size: 1.1em;
	background: #6dc9e2;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dsjkbox dt {
	position: absolute;
	bottom: 25px;
	left: 12px;
}

.dsjkbox h3 {
	width: 230px;
}

.dsjkbox h3 a {
	width: 230px;
	height: 34px;
	background: url("../../img/1366/dsjk2.png") no-repeat;
	display: block;
	color: #fff;
	cursor: pointer;
	line-height: 35px;
	text-align: center;
	font-size: 1em;
}

.dsjkbox h3 a:hover {
	color: #fff;
}

.dsjkbox dd p:nth-child(1) i {
	background: #009c84;
}

.dsjkbox dd p:nth-child(2) i {
	background: #009c84;
}

.dsjkbox dd p:nth-child(3) i {
	background: #01a08e;
}

.dsjkbox dd p:nth-child(4) i {
	background: #00a59f;
}

.dsjkbox dd p:nth-child(5) i {
	background: #01a9aa;
}

.dsjkbox dd p:nth-child(6) i {
	background: #01b4bb;
}

.dsjkbox dd p:nth-child(7) i {
	background: #24b8c6;
}

.dsjkbox dd p:nth-child(8) i {
	background: #42bdcd;
}

.dsjkbox dd p:nth-child(9) i {
	background: #59c2d8;
}

.dsjkbox dd p:nth-child(10) i {
	background: #6dc9e2;
}

.dsjkbox dd p:nth-child(11) i {
	background: #6dc9e2;
}

/* .dsjkbox h3 {
	width: 210px;
	font-size: 1.1em;
	color: #fff;
	line-height: 40px;
} */

.cr {
	float: right;
}

.dhpcbox {
	width: 1310px;
	height: 120px;
	background: url("../../img/1366/hp.png") no-repeat;
	padding: 20px 0 0 50px;
	margin-top: 20px;
}

.dhpcbox h4 {
	font-size: 1.2em;
	color: #fff;
	padding: 0;
	margin: 0;
}

.dhpcbox h4 i {
	width: 380px;
	height: 30px;
	margin-right: 20px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dhpcbox h4 i+i {
	width: 280px;
}

.dhpcbox h4 i+i+i {
	width: 280px;
}

.dhpcbox h4 i+i+i+i {
	width: 290px;
}

.dhpcbox .dw_side {
	margin: 0 !important;
}

.dhpcbox .dw_side li {
	padding-right: 69px;
}

.dh_nav {
	float: right;
}

.dh_nav a {
	font-size: 1em;
	color: #fff;
	margin: 0 20px 0 20px;
	padding-left: 25px;
	background: url("../../img/1366/menu.png") no-repeat 0 0px;
}

.dh_nav a:hover,.dh_nav .on {
	background: url("../../img/1366/menu_on.png") no-repeat 0 0;
}

.dhlb {
	width: 1240px;
	height: 360px;
	overflow: auto;
	margin: 0 0 0 20px;
}

.dhmen {
	width: 1245px;
}

.dhmen .dhbcon li b {
	width: 232px;
}

.dhlb li {
	height: 42px;
	line-height: 42px;
}

/* .dhico li {
	height: 55px;
}

.dhico li b {
	height: 25px;
} */

.dhlb li span+span+span,.dhico li span+span+span {
	width: 80px;
}

.dhico li span {
	font-size: 0.8em;
}

.dhico li span+span+span+span+span {
	padding-top: 25px;
}

.dhico li span+span+span+span+span+span {
	padding-top: 15px !important;
}

.dhico li span+span+span+span+span+span+span+span+span+span+span+span {
	padding-top: 36px !important;
}

.dhico li span:nth-child(11) {
	width: 80px;
}

.dhico li span:nth-child(12) {
	width: 75px;
}

.dhico li span:nth-child(13) {
	width: 75px;
}

.dhico li span:nth-child(14) {
	width: 75px;
}

.dhlb li span,.dhico li span {
	width: 90px;
}

.dhlb li span+span {
	width: 90px;
}

.dhico li span:nth-child(2) {
	width: 90px;
}

.dhico li span:nth-child(3) {
	width: 90px;
}

.dhico li span:nth-child(4) {
	width: 90px;
}

.dhmen .listli {
	width: 1058px;	
}

.dhmen .listli .rows {
	padding-top: 15px !important;
}

.dhmen .listli .secondline {
	padding-top: 36px !important;
}

.dhlb li span:nth-child(2) {
	width: 90px;
}

.dhlb li span:nth-child(3) {
	width: 90px;
}

.dhlb li span:nth-child(4) {
	width: 90px;
}

.dhlb li span:nth-child(11) {
	width: 80px;
}
.dhlb li span:nth-child(12) {
	width: 75px;
}
.dhlb li span:nth-child(13) {
	width: 75px;
}
.dhlb li span:nth-child(14) {
	width: 80px;
}

.dh_left {
	padding-top: 40px;
}

.dhlistbox {
	position: relative;
}

.pc_main {
	width: 540px !important;
	float: none;
	padding: 28px 0 0 30px;
}

.dhlistbox li span {
	font-size: 0.8em;
}

.dhcmain li span {
	font-size: 0.7em;
}

.dhlistbox li span+span {
	width: 95px;
}

.dhlistbox li span {
	width: 100px !important;
}

.pc_main li span+span+span,.dhlistbox li span+span+span {
	width: 100px;
}

.listdh li span+span+span+span+span {
	padding-top: 0;
}

.dhlistbox li span+span {
	width: 100px;
}

.dhlistbox .listli span:nth-child(1) {
	width: 180px !important;
}

.dhlistbox .listli span:nth-child(2) {
	width: 180px !important;
}

.dhlistbox .listli span:nth-child(3) {
	width: 142px !important;
}

.dhcmain li {
	height: 25px;
	line-height: 25px;
}

.listdh {
	width: 506px;
	height: 25px;
	margin: 0;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 5;
}

.listdh li {
	height: 25px !important;
	line-height: 25px !important;
}

.listdh li span {
	height: 25px;
	padding-top: 0;
}

.dhcmain {
	width: 530px;
	height: 125px;
	overflow: auto;
	margin: 0;
	padding-top: 25px;
}

.dhlistbox h2 {
	margin-bottom: 5px;
}

.c_r {
	float: right;
}

#a {
	width: 1360px;
	overflow: hidden;
	position: relative;
	height: 413px;
	border: none !important;
	padding: 0 !important;
}

#a div {
	border: none !important;
	padding: 0 !important;
}

.jscroll-h {
	height: 71px !important;
	border: none !important;
}

.jscroll-e {
	background-color: #ebebeb !important;
}

.jscroll-u {
	height: 34px !important;
	border: none !important;
}

.jscroll-h {
	width: 32px !important;
}

.jkdbox .list_a ul::-webkit-scrollbar,.dsjkbox dd::-webkit-scrollbar,.ctablelist::-webkit-scrollbar,.ztyclist::-webkit-scrollbar,.dhcmain::-webkit-scrollbar,.dhlb::-webkit-scrollbar
	{
	width: 8px;
	height: 1px;
}

.jkdbox .list_a ul::-webkit-scrollbar-thumb,.dsjkbox dd::-webkit-scrollbar-thumb,.ctablelist::-webkit-scrollbar-thumb,.ztyclist::-webkit-scrollbar-thumb,.dhcmain::-webkit-scrollbar-thumb,.dhlb::-webkit-scrollbar-thumb
	{ /*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #d76d23;
}

.jkdbox .list_a ul::-webkit-scrollbar-track,.dsjkbox dd::-webkit-scrollbar-track,.ctablelist::-webkit-scrollbar-track,.ztyclist::-webkit-scrollbar-track,.dhcmain::-webkit-scrollbar-track,.dhlb::-webkit-scrollbar-track
	{ /*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: #009c84;
}

/***文字居左***/
li span.text_left {
	text-align: left;
}
/***数字居右***/
li span.number_right {
	text-align: right;
}

.dhpczht {
	height: 55px;	
}

.dhpczht li {
	height: 55px;
}

.dhpczht li span {
	padding-top: 15px;
}

.dhpczht li span+span+span+span+span {
	padding-top: 5px;
}

.dhpczht li b {
	height: 25px;
	width: 240px;
}

.dhpczht li span:nth-child(11) {
	width: 75px;
	padding-top: 30px;
}

.dhpczht li span:nth-child(12) {
	width: 75px;
	padding-top: 30px;
}

.dhpczht li span:nth-child(13) {
	width: 75px;
	padding-top: 30px;
}

.dhpczhlist li span:nth-child(11) {
	width: 75px;
}

.dhpczhlist li span:nth-child(12) {
	width: 75px;
}
.dhpczhlist li span:nth-child(13) {
	width: 87px;
}

.input_zhcx {
	width:90px;
	font-size: 0.9em;
	margin-left: 20px;
}

/*********地图宽高***************/
#healprovmap {
	padding-top: 10px;
	width: 490px;
	height: 552px;
}

#healcitymap {
	width: 465px;
	height: 465px;
}

#faultprovmap {
	width: 468px;
	height: 522px;
}

#faultcitymap {
	width: 495px;
	height: 550px;
}
/*********地图宽高***************/
/************整体健康度***********/
#malfunctionRateUl #malfunctionDistribute {
	width:100%;height:245px;
}
#healthEvaluateUl #healthWeightAnalyse {
	width:100%;height:245px;
}
.gzpj #malfunctionHistoryStat {
	width:100%;height:220px;
}
/************地市健康度***********/
.jkdpjbox #healthWeightAnalyse {
	width:100%;height:240px;
}
.jkdpjbox #malfunctionDistribute {
	width:100%;height:240px;
}
.dsgztj #malfunctionHistoryStat {
	width:100%;height:205px;
}
/************区县健康度***********/
.lstj #malfunctionHistoryStat {
	width:100%;height:210px;
}
.qxpj #healthWeightAnalyse {
	width:100%;height:235px;
}
.qxpj #malfunctionDistribute {
	width:100%;height:235px;
}
.table_a_link{cursor:pointer;}
/************整体故障率***********/
#malfunctionRateMonth{
	width:100%;height:140px;padding: 10px 0 0 10px;
}
#malfunctionRateTotal{
	width:100%;height:140px;padding: 10px 0 0 0;
}
.ztgz_con #malfunctionRateMonth{
}
.ztgz_con #malfunctionRateTotal{
}
/************地市故障率***********/
.dsgz_con #malfunctionRateMonth{
}
.dsgz_con #malfunctionRateTotal{
}
/************区县故障率***********/
.qxgz_con#malfunctionRateMonth{
}
.qxgz_con #malfunctionRateTotal{
}
/************到货批次详情**********/
.dspcjkmin #malfunctionDistribute {
	width:370px;height:200px;
}
.pcgzt #dhpcgzlqs {
	width:660px;height:210px;
}
.pcgzt #yxsjgzfb {
	width:660px;height:210px;
}