<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nrjh.test.dao.TestMapper">

	<select id="selectMyTest" resultType="com.nrjh.test.service.Test">
		select * from test
	</select>
</mapper>